@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-neutral-100: ;
    --clr-neutral-200: ;

    --clr-primary: ;
    --clr-accent: ;

    --ff-100: -apple-system, BlinkMacSystemFont, 'Inter', system-ui, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--ff-100);
}
